@mixin d-flex($justify: start, $align: start, $wrap: no-wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin order($width, $height, $selectors...) {
    @for $i from 0 to length($selectors) {
        #{nth($selectors, $i + 1)} {
            display: block;
            width: $width;
            height: $height;
            // margin-top: $i * $height;
            border: 1px solid #000;
        }
    }
}